body{
    background: lightgrey;
    font-family:Arial, Arial, Helvetica, sans-serif;
}

.assignment{
    padding:10px;
    margin:10px;
    background: grey;
    border-radius: 20px;
}

.assignment img{
    width:200px;
    margin:10px;
    border:4px solid white;
}

.assignment img:hover {
    border:4px dashed lightgrey;
}

h1 {
    color: black;
    text-align:center;
}

hl:hover{
    color: red;
}
